@font-face {
    font-family: roboto-regular;
    src: url('../font/Roboto-Regular.ttf');
}

#root {
    background-color: #413e3e;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0) 1px, transparent 0), linear-gradient(90deg, rgb(0, 0, 0) 1px, transparent 0);
    background-size: 40px 40px, 40px 40px;
    font-family: 'roboto-regular';
}

/* #canvas {
    border: 1px solid black;
    background-image: linear-gradient(rgb(0, 0, 0) 1px, transparent 0), linear-gradient(90deg, rgb(0, 0, 0) 1px, transparent 0);
    background-size: 40px 40px, 40px 40px;
} */
/* .canvas-board {
    margin-top: 8em;
} */
.canvas-background {
    /* background-color: rgb(167, 167, 167); */
    /* padding-top: 20px;
    padding-bottom: 20px; */
    border: 3px solid rgba(255, 255, 255, 0.219);
}

/* .convas-page-container {
    width: 80vw !important;
    height: 80vh !important;
} */
.home-page-row {
}

.background {
    position: absolute;
    top: 10vh;
    width: 100vw;
}

.home-button-styling {
    width: 208px;
    height: 66px;
    margin: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color: #ffffff;
    color: black;
    border-radius: 12px;
    border: 3px solid rgb(0, 0, 0);
}

.home-button-styling:hover {
    background-color: rgba(204, 204, 204, 0.856);
}

.main-navbar {
    margin: 0 !important;
    padding: 1px !important;
}
.home-page-container {
    margin-top: 6em;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(51, 78, 55); */
    /* background-color: #111217; */
}
.home-page-title {
    /* font-family: 'Lucida Console', Courier, monospace; */
    font-size: 64px;
    line-height: 75px;
    font-weight: 400;
    color: white;
    font-family: 'roboto-regular';
}
.home-page-image {
    object-fit: cover;
    height: 150px;
    width: 150px;
}
.mode-page-container {
    margin-top: 6em;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(37, 37, 37, 0.39);
    color: white;
}

.mode-page-title {
    font-size: 5vmin;
    font-weight: 900;
    color: white;
}

.mode-page-subtitle {
    font-size: 1.5em;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.mode-screen-styling {
    width: 22vmin;
    height: 18vmin;
    max-width: 5px;
    margin: 10px;
    font-size: 3vmin;
    /* background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255)); */
    background-color: rgb(255, 255, 255); /* buttons*/
    color: rgba(0, 0, 0, 0.863);
    border-radius: 12px;
    border: 3px solid #010236;
    /* background-image: url('../images/target1.png'); */
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
}

.mode-screen-styling:hover {
    background-color: rgba(204, 204, 204, 0.856);
}
.easy-button {
    background-image: linear-gradient(rgba(167, 226, 228, 0.603), rgba(12, 190, 221, 0.616));
}

.medium-button {
    background-image: linear-gradient(rgba(210, 212, 115, 0.63), rgba(190, 221, 12, 0.63));
}

.hard-button {
    background-image: linear-gradient(rgba(121, 47, 47, 0.616), rgba(221, 12, 12, 0.637));
}

.custon-button {
}

.easy-button:hover {
    background-image: linear-gradient(rgb(58, 78, 181), rgb(12, 189, 221));
}

.medium-button:hover {
    background-image: linear-gradient(rgb(255, 157, 0), rgb(190, 221, 12));
}

.hard-button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.945), rgb(255, 0, 0));
}

.custon-button:hover {
    background-color: rgba(204, 204, 204, 0.856);
}

.canvas-bar {
    color: rgb(255, 255, 255);
    padding-left: 6vw;
    padding-right: 6vw;
}

.row {
    margin: 0 !important;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

.footer-navbar {
    padding: 0 !important;
    margin: 0 !important;
}

.result-page-container {
    margin-top: 8em;
    /* height: 60vh; */

    /* border: 1px solid rgb(51, 78, 55); */
    /* background-color: #1a1818; */
}

.result-text {
    font-size: 1.5em;
    font-weight: 900;
    color: white;
}

.privacy-page {
    /* background-color: rgb(141, 136, 136); */
    color: white;
}

.privacy-page-container {
    margin-top: 16em;

    /* opacity: 0.7; */
}

.submit-div {
    height: 4em;
}
.submit-link {
    width: 100%;
}
.submit-button {
    width: 18%;
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 12px;
    font-size: 23px;
}

.submit-button:hover {
    background-color: rgba(204, 204, 204, 0.856);
}

a:hover {
    text-decoration: none !important;
}

.navbar-brand:hover {
    color: rgb(0, 0, 0) !important;
}

.update-page-container {
    margin-top: 8em;
    border: 3px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(37, 37, 37, 0.39);
    color: white;
}
