@font-face {
    font-family: roboto-regular;
    src: url('../font/Roboto-Regular.ttf');
}

#root {
    background-color: #413e3e;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0) 1px, transparent 0), linear-gradient(90deg, rgb(0, 0, 0) 1px, transparent 0);
    background-size: 40px 40px, 40px 40px;
}

#canvas {
    border: 1px solid black;
    background-image: url('../images/grid1.png');
    background-color: rgb(36, 32, 32);
    background-size: cover; /* <------ */
    background-repeat: no-repeat;
}
.canvas-board {
    margin-top: 8em;
}

.home-page-row {
}

.home-button-styling {
    width: 208px;
    height: 66px;
    margin: 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color: #ffffff;
    color: black;
    border-radius: 12px;
    border: 3px solid rgb(0, 0, 0);
}

.home-page-container {
    margin-top: 8em;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(51, 78, 55); */
    /* background-color: #111217; */
}
.home-page-title {
    /* font-family: 'Lucida Console', Courier, monospace; */
    font-size: 64px;
    line-height: 75px;
    font-weight: 400;
    color: white;
    font-family: 'roboto-regular';
}
/* .home-page-image {
    background-image: url('../images/Target.png');
    width: 208px;
    height: 66px;
    object-fit: fill;
} */
.mode-page-container {
    margin-top: 8em;
    /* height: 60vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(51, 78, 55); */
    background-color: #111217;
}

.mode-page-title {
    font-family: 'Lucida Console', Courier, monospace;
    font-size: 2.5em;
    font-weight: 900;
    color: #ff003a;
}

.mode-page-subtitle {
    font-family: 'Lucida Console', Courier, monospace;
    font-size: 1.5em;
    font-weight: 900;
    color: #ff003a;
}

.mode-screen-styling {
    width: 15vw;
    height: 20vh;
    margin: 10px;
    background-color: #ff003a;
    color: white;
    border-radius: 12px;
    border: 3px solid rgb(0, 0, 0);
    background-image: url('../images/target1.png');
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
}

.canvas-bar {
    color: white;
    padding-left: 5vw;
    padding-right: 6vw;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

.footer-navbar {
    padding: 0 !important;
    margin: 0 !important;
}

.result-page-container {
    margin-top: 8em;
    /* height: 60vh; */

    /* border: 1px solid rgb(51, 78, 55); */
    background-color: #111217;
}

.result-text {
    font-family: 'Lucida Console', Courier, monospace;
    font-size: 1.5em;
    font-weight: 900;
    color: #ff003a;
}
